body{
    background: #1d1d1d;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.principal {
    margin-top: 40px;
    color: white;
}

.principal h3{
    font-size: 17px;
    margin-top: 80px;
    font-family: monospace;
}

.botao-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.iniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid white;
    width: 150px;
    height: 100px;
    cursor: pointer;
    transition: 0.2s ease;
}

.iniciar:hover {
    font-size: 20px;
    color: #9f6bff;
    border-color: #9f6bff;
    font-weight: 700;
}

#qtdJogadores{
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
#qtdJogadores:hover{
    border-color: #9f6bff;
}
#qtdJogadores:focus {
    border-color: #9f6bff;
}

#tema{
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 150px;
    text-align: center;
    
}
#tema:hover{
    border-color: #9f6bff;
}
#tema:focus {
    border-color: #9f6bff;
}

option{
    background-color: #9f6bff;
}