body{
    background: #1d1d1d;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.principal {
    margin-top: 40px;
    color: white;
}

button {
    margin: 20px 0;
    padding: 10px 25px;
    font-size: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}


.carta {
    width: 220px;
    height: 320px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}


.carta.virada{
    transform: rotateY(180deg);
}

.frente {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #b31217, #e52d27);
    color: white;
    font-size: 100px;
    font-weight: bold;

    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

    backface-visibility: hidden;
}


.tras {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(135deg, #9f6bff, #5900ff);
    color: #0f172a;
    font-size: 36px;
    font-weight: bold;

    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

    transform: rotateY(180deg);
    backface-visibility: hidden;
}


.carta.bloqueada {
    pointer-events: none;
    filter: grayscale(100%) brightness(0.5);
    opacity: 0.7;
}